html, 
body, 
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

.flex-col {
  flex-direction: column;
}